@import url('https://fonts.googleapis.com/css?family=Muli');

.player-stack {
  letter-spacing: 3px;
  color: #f87515;
  font-size: 18px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 0;
}

.total {
  color: white;
  background-color: #FF6700;
  font-size: 22px;
  letter-spacing: 2px;
  padding-top: 12px;
}

.canvas-phone {
  width: 100%;
  height: 100%;
}

.canvas-phone-box {
  height: 100px;
}

.sample-price {
  font-size: 18px;
  color: #FFF;
  height: 45px;
}

.return-button {
  width: 40px;
}